<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <ul class="socials">
                    <li><a href="https://www.facebook.com/"><img src="/Content/Template/images/elements/socials/facebook.png" alt="facebook" />Facebook</a></li>
                    <li><a href="https://www.twitter.com/"><img src="/Content/Template/images/elements/socials/twitter.png" alt="twitter" />Twitter</a></li>
                    <li><a href="https://www.youtube.com/"><img src="/Content/Template/images/elements/socials/youtube.png" alt="youtube" />Youtube</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-6">
                <ul>
                    <li><a href="/Uye/KayitOl">Üye Ol</a></li>
                    <li><a href="/Uye/GirisYap">Giriş Yap</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-xs-6">
                <ul class="menu-item">
                    <li><a href="/Home/Index">Anasayfa</a></li>
                    <li><a href="/Home/AnlasmaliFirmalar">Anlaşmalı Firmalar</a></li>
                    <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                    <li><a href="/Home/Iletisim">İletişim</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mini-footer">
            <div class="row">
                <div class="col-md-6">
                    Copyright @DateTime.Now.Year BlaBla e-Ticaret &nbsp;  &nbsp;  &nbsp; Designed by Mert AKSOY
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <img src="/Content/Template/images/elements/payment.png" alt="payment systems" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

